
	{% extends "layout.html" %}
	{% block title %}
	Lisa uus hooaeg
	{% endblock title %}
	{% block content %}
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			}
	</style>
</head>
<body>
	<div class="container-xl">
	<form method="POST" action="">
			<h2>Lisa uus hooaeg</h2> <br>			
			<p>PS! Uue hooaja lisamise järgselt kaovad praegused
			grupid ja treeningplaanis olevad treeningud.
			<br>
			Hooaja lisamise järgselt saab luua uued grupid ja
			seejärel treeningud treeningplaani.
			</p>
			<div class="form-group row">		
			<label class="col-md-2 col-form-label form-control-label">Uue hooaja nimi</label>
			<div class="col-md-4">
			<input type ="text" class="form-control" name= "nimi" placeholder="Nt. Sisehooaeg 20/21">
			</div></div>
			<input type= "submit" class="btn btn-success" value="Salvesta hooaeg">	
	</form>
	</div>
{% endblock content %}
