
        {% extends "layout.html" %}
	    {% block title %}
        Taseme andmed
        {% endblock title %}
	    {% block content %}
        <div class="container-xl">
        <form action="{{ t_id }}" method="POST">
                        <h2>Muuda taseme andmeid</h2> <br>
                        <div class="form-group row">		
                        <label class="col-md-2 col-form-label form-control-label">Nimi</label>
                        <div class="col-md-4">
                        <input type ="text" class="form-control" name= "nimi" value="{{ tase_data[1] }}">
                        </div></div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label">Treeningu liik 1</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" value="{{ tase_data[2] }}" name= "tyyp1">
                            </div>
                            <label class="col-lg-3 col-form-label form-control-label">Soovituslikud tunnid</label>
                            <div class="col-md-3">
                                <input class="form-control" type="text" value="{{ tase_data[3] }}" name= "tunnid1">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label form-control-label">Treeningu liik 2</label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" value="{{ tase_data[4] }}" name= "tyyp2">
                            </div>
                            <label class="col-md-3 col-form-label form-control-label">Soovituslikud tunnid</label>
                            <div class="col-md-3">
                                <input class="form-control" type="text" value="{{ tase_data[5] }}" name= "tunnid2">
                            </div>
                        </div>
                        <div class="form-group row">		
                            <label class="col-md-2 col-form-label form-control-label">Staatus</label>
                            <div class="col-md-4">
                                <select name="staatus" id="staatus" class="form-control">
                                    <option value="{{ el_staatus[0] }}">{{ el_staatus[0] }}</option>
                                    <option value="{{ el_staatus[1] }}">{{ el_staatus[1] }}</option>
                                    </select>
                            </div></div>
                        <input type="button" class="btn btn-secondary" value="Tühista" onClick="history.go(-1);">		
                        <input type= "submit" class="btn btn-success" value="Salvesta muudatused">
        </form>
    </div>
    {% endblock content %}